header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 100px;
  background-color: #314563;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}


.logo {
  width: 80px;
  height: 80px;
  background-image: url("./../../assets/image/logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo:hover {
  filter: brightness(1.2); /* Efeito de hover na logo */
  transition: filter 0.3s;
}

section
{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  background: #EAC3C5;
  height: calc(100vh - 100px); /* Altura da viewport menos o header */
  padding: 30px;
  text-align: center;

}

.oracoes h2{
  font-size: 50px;
  margin-top: 30px;


}

.oracoes p{
  background-color: rgba(240, 248, 255, 0.808);
  max-width: 75%;
  padding: 20px;
  border-radius: 10px;
  text-align: center; /* Centraliza o texto horizontalmente */
  line-height: 1.5; /* Melhor espaçamento entre linhas */
  margin: 20px auto; /* Centraliza o bloco horizontalmente */




}



